{% extends "base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card border-light text-white bg-dark mb-3" style="width:30rem">
                <div class="card-header">
               <h3><b><font color="white">{% trans "Sign Out" %}</font></b></h3></div>
            <div class="card-body bg-light text-dark">


<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn float-right btn-secondary" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
