<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='slim' %}

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    {# --- favicon --- #}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/png">

    {# --- css --- #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-social.css' %}">
    {% block extra_css %}{% endblock %}

    <div style="text-align: center">
      <img src="{% static 'images/anitya_wide_white_transparency.png' %}" width="300px" height="100px" alt="hoge">
    </div>
  </head>
  <body>
    {% block body %}

    <!-- <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div> -->

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <p class="mt-5 mb-3 text-muted text-center">&copy; intellilink.co.jp. All rights reserved. 2019</p>

    {# --- js --- #}
    {% block extra_js %}{% endblock %}

  </body>
</html>
